<div class="container">
    <!-- Aqui inicia el formulario -->
    <form>
        <div class="general2 d-flex flex-column">

            <div class="contenedor d-flex flex-column row col-md-8 col-lg-6">
                <h3>Iniciar sesión</h3>

                <div class="row col-sm-8 espacio input-group mb-3">
                    <div class="input-group-prepend  campos">
                        <span class="input-group-text"><i class="fas fa-user-circle"></i></span>
                    </div>
                    <input [(ngModel)]="loginUsuario.correo" name="correo" type="text" class="form-control campos-texto" id="usuario" title="Escriba su usuario"
                        placeholder="Usuario" minlength="8" maxlength="30" required>
                </div> <!-- pattern="[A-Za-z]{1-15}" -->
                
                <div class="row col-sm-8 espacio input-group mb-3">
                    <div class="input-group-prepend  campos">
                        <span class="input-group-text"><i class="fas fa-lock"></i></span>
                    </div>
                    <input [(ngModel)]="loginUsuario.password" name="password" type="password" class="form-control campos-texto" id="contraseña"
                        title="Escriba su contraseña con un minino de 5 y maximo de 10 caracteres"
                        placeholder="Contraseña" minlength="5" maxlength="10" required>
                </div><!-- pattern="[A-Za-z0-9!?-]{1-15}" -->
                
                <div class="boton2 col-sm-8">

                    <button (click)="login()" class="bton2" type="button">Ingresar</button>

                    <!--   <a href="registro.html"><input class="bton" type="submit" value="Ingresar" /></a> -->
                    <button class="bton2" routerLink = "/registro" type="button">Registrarte</button>
                </div>
            </div>
        </div>
    </form>
</div>


<!-- onclick="window.location.href='Perfil.html' -->

<!-- onclick="window.location.href='registro.html'" -->