<main>
    <div class="container-xl">
        <div class="titulo-ofertas-contenedor">
            <h1>Ofertas</h1>
        </div>
        <div class="row justify-content-center">
            <div class="carta-contenedor d-flex flex-column justify-content-between">

                <div class="align-self-center">
                    <img class="imagen-carta" src="../../../../assets/imgs/imgOfertas/comida/Chunky-cordero.png" alt="comida">
                </div>
                <div class="ml-2 align-self-start">
                    <h3 class="titulo-comida">Chunky Perro</h3>
                    <div class="d-flex">
                        <img class="estrella" src="../../../../assets/imgs/imgOfertas/comida/estrella.png"
                            alt="estrella_puntuación">
                        <img class="estrella" src="../../../../assets/imgs/imgOfertas/comida/estrella.png"
                            alt="estrella_puntuación">
                        <img class="estrella" src="../../../../assets/imgs/imgOfertas/comida/estrella.png"
                            alt="estrella_puntuación">
                        <img class="estrella" src="../../../../assets/imgs/imgOfertas/comida/estrella.png"
                            alt="estrella_puntuación">
                        <img class="estrella" src="../../../../assets/imgs/imgOfertas/comida/estrella.png"
                            alt="estrella_puntuación">
                    </div>
                    <p class="precio-carta">$43.000</p>
                </div>
                <div class="carta-bottom">
                    <h4>Comprar</h4>
                </div>
            </div>
            <div class="carta-contenedor d-flex flex-column justify-content-between">

                <div class="align-self-center">
                    <img class="imagen-carta" src="../../../../assets/imgs/imgOfertas/comida/nutrecan2.png" alt="comida">
                </div>
                <div class="ml-2 align-self-start">
                    <h3 class="titulo-comida">Nutre Can</h3>
                    <div class="d-flex">
                        <img class="estrella" src="../../../../assets/imgs/imgOfertas/comida/estrella.png"
                            alt="estrella_puntuación">
                        <img class="estrella" src="../../../../assets/imgs/imgOfertas/comida/estrella.png"
                            alt="estrella_puntuación">
                        <img class="estrella" src="../../../../assets/imgs/imgOfertas/comida/estrella.png"
                            alt="estrella_puntuación">
                        <img class="estrella" src="../../../../assets/imgs/imgOfertas/comida/estrella.png"
                            alt="estrella_puntuación">
                        <img class="estrella" src="../../../../assets/imgs/imgOfertas/comida/estrella.png"
                            alt="estrella_puntuación">
                    </div>
                    <p class="precio-carta">$44.000</p>
                </div>
                <div class="carta-bottom">
                    <h4>Comprar</h4>
                </div>
            </div>
            <div class="carta-contenedor d-flex flex-column justify-content-between">

                <div class="align-self-center">
                    <img class="imagen-carta" src="../../../../assets/imgs/imgOfertas/comida/nutranuggets.png" alt="comida">
                </div>
                <div class="ml-2 align-self-start">
                    <h3 class="titulo-comida">Nutra Nuggets</h3>
                    <div class="d-flex">
                        <img class="estrella" src="../../../../assets/imgs/imgOfertas/comida/estrella.png"
                            alt="estrella_puntuación">
                        <img class="estrella" src="../../../../assets/imgs/imgOfertas/comida/estrella.png"
                            alt="estrella_puntuación">
                        <img class="estrella" src="../../../../assets/imgs/imgOfertas/comida/estrella.png"
                            alt="estrella_puntuación">
                        <img class="estrella" src="../../../../assets/imgs/imgOfertas/comida/estrella.png"
                            alt="estrella_puntuación">
                        <img class="estrella" src="../../../../assets/imgs/imgOfertas/comida/estrella.png"
                            alt="estrella_puntuación">
                    </div>
                    <p class="precio-carta">$39.000</p>
                </div>
                <div class="carta-bottom">
                    <h4>Comprar</h4>
                </div>
            </div>
            <div class="carta-contenedor d-flex flex-column justify-content-between">

                <div class="align-self-center">
                    <img class="imagen-carta" src="../../../../assets/imgs/imgOfertas/comida/dogourmet.png" alt="comida">
                </div>
                <div class="ml-2 align-self-start">
                    <h3 class="titulo-comida">Dogourmet</h3>
                    <div class="d-flex">
                        <img class="estrella" src="../../../../assets/imgs/imgOfertas/comida/estrella.png"
                            alt="estrella_puntuación">
                        <img class="estrella" src="../../../../assets/imgs/imgOfertas/comida/estrella.png"
                            alt="estrella_puntuación">
                        <img class="estrella" src="../../../../assets/imgs/imgOfertas/comida/estrella.png"
                            alt="estrella_puntuación">
                        <img class="estrella" src="../../../../assets/imgs/imgOfertas/comida/estrella.png"
                            alt="estrella_puntuación">
                        <img class="estrella" src="../../../../assets/imgs/imgOfertas/comida/estrella.png"
                            alt="estrella_puntuación">
                    </div>
                    <p class="precio-carta">$38.000</p>
                </div>
                <div class="carta-bottom">
                    <h4>Comprar</h4>
                </div>
            </div>
            <div class="carta-contenedor d-flex flex-column justify-content-between">

                <div class="align-self-center">
                    <img class="imagen-carta" src="../../../../assets/imgs/imgOfertas/comida/Chunky-adulto-pollo.png"
                        alt="comida">
                </div>
                <div class="ml-2 align-self-start">
                    <h3 class="titulo-comida">Chunky Perro</h3>
                    <div class="d-flex">
                        <img class="estrella" src="../../../../assets/imgs/imgOfertas/comida/estrella.png"
                            alt="estrella_puntuación">
                        <img class="estrella" src="../../../../assets/imgs/imgOfertas/comida/estrella.png"
                            alt="estrella_puntuación">
                        <img class="estrella" src="../../../../assets/imgs/imgOfertas/comida/estrella.png"
                            alt="estrella_puntuación">
                        <img class="estrella" src="../../../../assets/imgs/imgOfertas/comida/estrella.png"
                            alt="estrella_puntuación">
                        <img class="estrella" src="../../../../assets/imgs/imgOfertas/comida/estrella.png"
                            alt="estrella_puntuación">
                    </div>
                    <p class="precio-carta">$45.000</p>
                </div>
                <div class="carta-bottom">
                    <h4>Comprar</h4>
                </div>
            </div>
            <div class="carta-contenedor d-flex flex-column justify-content-between">

                <div class="align-self-center">
                    <img class="imagen-carta" src="../../../../assets/imgs/imgOfertas/comida/dogourmet2.png" alt="comida">
                </div>
                <div class="ml-2 align-self-start">
                    <h3 class="titulo-comida">Dogourmet</h3>
                    <div class="d-flex">
                        <img class="estrella" src="../../../../assets/imgs/imgOfertas/comida/estrella.png"
                            alt="estrella_puntuación">
                        <img class="estrella" src="../../../../assets/imgs/imgOfertas/comida/estrella.png"
                            alt="estrella_puntuación">
                        <img class="estrella" src="../../../../assets/imgs/imgOfertas/comida/estrella.png"
                            alt="estrella_puntuación">
                        <img class="estrella" src="../../../../assets/imgs/imgOfertas/comida/estrella.png"
                            alt="estrella_puntuación">
                        <img class="estrella" src="../../../../assets/imgs/imgOfertas/comida/estrella.png"
                            alt="estrella_puntuación">
                    </div>
                    <p class="precio-carta">$26.000</p>
                </div>
                <div class="carta-bottom">
                    <h4>Comprar</h4>
                </div>
            </div>
            <div class="carta-contenedor d-flex flex-column justify-content-between">

                <div class="align-self-center">
                    <img class="imagen-carta" src="../../../../assets/imgs/imgOfertas/comida/nutrecan.png" alt="comida">
                </div>
                <div class="ml-2 align-self-start">
                    <h3 class="titulo-comida">Nutre Can</h3>
                    <div class="d-flex">
                        <img class="estrella" src="../../../../assets/imgs/imgOfertas/comida/estrella.png"
                            alt="estrella_puntuación">
                        <img class="estrella" src="../../../../assets/imgs/imgOfertas/comida/estrella.png"
                            alt="estrella_puntuación">
                        <img class="estrella" src="../../../../assets/imgs/imgOfertas/comida/estrella.png"
                            alt="estrella_puntuación">
                        <img class="estrella" src="../../../../assets/imgs/imgOfertas/comida/estrella.png"
                            alt="estrella_puntuación">
                        <img class="estrella" src="../../../../assets/imgs/imgOfertas/comida/estrella.png"
                            alt="estrella_puntuación">
                    </div>
                    <p class="precio-carta">$56.000</p>
                </div>
                <div class="carta-bottom">
                    <h4>Comprar</h4>
                </div>
            </div>
            <div class="carta-contenedor d-flex flex-column justify-content-between">

                <div class="align-self-center">
                    <img class="imagen-carta" src="../../../../assets/imgs/imgOfertas/comida/Chunky-cachorro.png" alt="comida">
                </div>
                <div class="ml-2 align-self-start">
                    <h3 class="titulo-comida">Chunky Perro</h3>
                    <div class="d-flex">
                        <img class="estrella" src="../../../../assets/imgs/imgOfertas/comida/estrella.png"
                            alt="estrella_puntuación">
                        <img class="estrella" src="../../../../assets/imgs/imgOfertas/comida/estrella.png"
                            alt="estrella_puntuación">
                        <img class="estrella" src="../../../../assets/imgs/imgOfertas/comida/estrella.png"
                            alt="estrella_puntuación">
                        <img class="estrella" src="../../../../assets/imgs/imgOfertas/comida/estrella.png"
                            alt="estrella_puntuación">
                        <img class="estrella" src="../../../../assets/imgs/imgOfertas/comida/estrella.png"
                            alt="estrella_puntuación">
                    </div>
                    <p class="precio-carta">$47.000</p>
                </div>
                <div class="carta-bottom">
                    <h4>Comprar</h4>
                </div>
            </div>
            <div class="carta-contenedor d-flex flex-column justify-content-between">

                <div class="align-self-center">
                    <img class="imagen-carta" src="../../../../assets/imgs/imgOfertas/comida/Chunky-vida-activa.png"
                        alt="comida">
                </div>
                <div class="ml-2 align-self-start">
                    <h3 class="titulo-comida">Chunky Perro</h3>
                    <div class="d-flex">
                        <img class="estrella" src="../../../../assets/imgs/imgOfertas/comida/estrella.png"
                            alt="estrella_puntuación">
                        <img class="estrella" src="../../../../assets/imgs/imgOfertas/comida/estrella.png"
                            alt="estrella_puntuación">
                        <img class="estrella" src="../../../../assets/imgs/imgOfertas/comida/estrella.png"
                            alt="estrella_puntuación">
                        <img class="estrella" src="../../../../assets/imgs/imgOfertas/comida/estrella.png"
                            alt="estrella_puntuación">
                        <img class="estrella" src="../../../../assets/imgs/imgOfertas/comida/estrella.png"
                            alt="estrella_puntuación">
                    </div>
                    <p class="precio-carta">$46.000</p>
                </div>
                <div class="carta-bottom">
                    <h4>Comprar</h4>
                </div>
            </div>

        </div>
    </div>
</main>