/*--------------------------------------------------------------
# Categorias
--------------------------------------------------------------*/
.categories .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  margin: 2rem 0;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
  text-align: center;
  border-bottom: 3px solid #fff;
}

.categories .icon-box:hover {
  transform: translateY(-5px);
}

.categories .icon i {
  font-size: 48px;
  line-height: 1;
  margin-bottom: 15px;
}

.categories .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.categories .title a {
  color: #111;
}

.categories .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

.categories .icon-box-cyan .icon i {
  color: #12b0af;
}

.categories .icon-box-cyan:hover {
  border-color: #12b0af;
}

/* .rounded-circle {
  border-radius: 50%;
  height: 8em;
  width: 8em;
} */
