/* Disable <a> event */
.disable{
    pointer-events: none;
    cursor: default;
}
/* Bullets Style */
ul {
    list-style: none;
}

li::before {
    content: "\2022";
    color: #12B0AF;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
/* ScrollBar Style */
::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-thumb{
    background:#12B0AF;
    border-radius: 6px;
}
