<h4 class="font-italic mb-4">Información Personal</h4>

<!-- <main style="position: relative;">
    <div id="infoMascota" class="list-group">
        <a class="list-group-item list-group-action" href="#listaComida">Top Comidas</a>
        <a class="list-group-item list-group-action" href="#listaLugares">Top Lugares</a>
        <a class="list-group-item list-group-action" href="#listaJuguetes">Top Juguetes</a>
    </div>
    <div data-spy="scroll" data-target="#infoMascota" data-offset="0" class="scrollspy">
        <div style="position: relative; height: 20px; overflow-y: scroll;">
            <h4 id="listaComida">Comidas</h4>
            <p>Pasta</p>
        </div>
        <div style="position: relative; height: 20px; overflow-y: scroll;">
            <h4 id="listaLugares">Lugares</h4>
            <p>Simon Bolivar</p>
        </div>
        <div style="position: relative; height: 20px; overflow-y: scroll;">
            <h4 id="listaJuguetes">Juguetes</h4>
            <p>Huesos</p>
        </div>
    </div>
</main> -->
<!-- <div class="d-flex align-items-center">
    <i class="fas fa-dog fa-3x fa-flip-horizontal mr-2"></i>
    <p>Bienvenido, mi nombre es Lewis y te invito a conocerme un poco mejor</p>
</div> -->

<p>Mi nombre es Lewis y te invito a conocerme un poco mejor</p>
<!-- border-left-0 border-top-0 -->
<!-- border-left-0 -->
<!-- border-left-0 border-bottom-0 -->
<div class="d-flex m-2" style="height: 300px; width: 100%;" >
    <div id="list-example" class="list-group" style="width: 30%; height: 100%;">
        <a class="list-group-item list-group-item-action list-group-item-info disable d-flex justify-content-center align-items-center border-0" style="height: 33.3%;" href="#list-item-1">Top Comidas</a>

        <a class="list-group-item list-group-item-action list-group-item-info disable d-flex justify-content-center align-items-center border-0" style="height: 33.3%;" href="#list-item-2">Top Lugares</a>

        <a class="list-group-item list-group-item-action list-group-item-info disable d-flex justify-content-center align-items-center border-0" style="height: 33.3%;" href="#list-item-3">Top Juguetes</a>
    </div>
    <div style="position: relative; height: 100%; width: 70%; overflow-y: scroll;" data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy p-3 ">
        <h4 id="list-item-1" class="text-info">Comidas</h4>
        <p>Mis comidas favoritas</p>
        <ul>
            <li>Galletas Naturales</li>
            <li>Croquetas</li>
            <li>Nuggets</li>
        </ul>
        <h4 id="list-item-2" class="text-info">Lugares</h4>
        <p>Mis lugares favoritos</p>
        <ul>
            <li>Simon Bolivar</li>
            <li>Parque de los Novios</li>
            <li>Parque Nacional</li>
        </ul>
        <h4 id="list-item-3" class="text-info">Juguetes</h4>
        <p>Mis juguetes favoritos</p>
        <ul>
            <li>Hueso</li>
            <li>Pelota para fetch</li>
            <li>Peluche de oso</li>
        </ul>
    </div>
</div>