<h4 class="font-italic mb-4">Información Personal</h4>

<p>Mi nombre es Lewis y te invito a conocerme un poco mejor</p>

<div class="d-flex m-2" style="height: 300px; width: 100%;" >
    <div id="list-example" class="list-group" style="width: 30%; height: 100%;">
        <a class="list-group-item list-group-item-action list-group-item-info disable d-flex justify-content-center align-items-center border-0" style="height: 33.3%;" href="#list-item-1">Top Comidas</a>

        <a class="list-group-item list-group-item-action list-group-item-info disable d-flex justify-content-center align-items-center border-0" style="height: 33.3%;" href="#list-item-2">Top Lugares</a>

        <a class="list-group-item list-group-item-action list-group-item-info disable d-flex justify-content-center align-items-center border-0" style="height: 33.3%;" href="#list-item-3">Top Juguetes</a>
    </div>
    <div style="position: relative; height: 100%; width: 70%; overflow-y: scroll;" data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy p-3 ">
        <h4 id="list-item-1" class="text-info">Comidas</h4>
        <p>Mis comidas favoritas</p>
        <ul>
            <li>Galletas Naturales</li>
            <li>Croquetas</li>
            <li>Nuggets</li>
        </ul>
        <h4 id="list-item-2" class="text-info">Lugares</h4>
        <p>Mis lugares favoritos</p>
        <ul>
            <li>Simon Bolivar</li>
            <li>Parque de los Novios</li>
            <li>Parque Nacional</li>
        </ul>
        <h4 id="list-item-3" class="text-info">Juguetes</h4>
        <p>Mis juguetes favoritos</p>
        <ul>
            <li>Hueso</li>
            <li>Pelota para fetch</li>
            <li>Peluche de oso</li>
        </ul>
    </div>
</div>