<section class=" py-5 header">
    <div class="container py-4">
        <div class="row py-5 px-4">
            <div style="width: 100%;" class="bg-white shadow rounded overflow-hidden">
                <div class="px-4 pt-0 pb-4 fondo">
                    <div class="media align-items-end profile-header">
                        <div *ngIf='fotoPerfil' class="profile mr-3">
                            <img [src]="fotoPerfil[fotoPerfil.length - 1].sticker" width="300"
                                class="rounded mb-2 img-thumbnail">
                            <a href="#" class="btn btn-dark btn-sm btn-block">Editar Perfil</a>


                        </div>
                        <div class="media-body mb-5 text-white">
                            <h4 class="mt-0 mb-0"> {{datosPerfil.nombre}} </h4>
                            <p class="small mb-4"> <i class="fa fa-map-marker mr-2"></i>Bogota D.C.</p>
                        </div>

                    </div>

                </div>

                <div class="bg-light p-4 d-flex justify-content-between text-center">
                    <div class="imagenPerfilOpciones">
                        <button class="btn btn-info mr-3" (click)="inputFile.click()">Escoge Foto Perfil</button>
                        <input class="d-none" id="imgInput" (change)="capturarImagen($event)" type="file" #inputFile>
                        <button class="btn btn-success m-1" (click)="subirImagen()">Subir Imagen</button>
                        <button class="btn btn-danger m-1"
                            (click)="borrarImagen(fotoPerfil[fotoPerfil.length - 1])">Eliminiar Imagen</button>
                    </div>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block">10</h5><small class="text-muted"> <i
                                    class="fa fa-picture-o mr-1"></i>Fotos</small>
                        </li>
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block">84</h5><small class="text-muted"> <i
                                    class="fa fa-user-circle-o mr-1"></i>Seguidores</small>
                        </li>
                    </ul>
                </div>


                <div class="row pb-4">
                    <div class="col-md-3 pl-4">
                        <!-- Tabs nav -->
                        <div class="nav flex-column nav-pills nav-pills-custom" id="v-pills-tab" role="tablist"
                            aria-orientation="vertical">

                            <a class="nav-link mb-3 p-3 shadow active" id="v-pills-history-tab" data-toggle="pill"
                                href="#v-pills-history" role="tab" aria-controls="v-pills-history" aria-selected="true">
                                <i class="fas fa-history mr-2"></i>
                                <span class="font-weight-bold small text-uppercase">Historias</span></a>

                            <a class="nav-link mb-3 p-3 shadow" id="v-pills-home-tab" data-toggle="pill"
                                href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="false">
                                <i class="fa fa-user-circle-o mr-2"></i>
                                <span class="font-weight-bold small text-uppercase">Información
                                    Personal</span></a>

                            <a class="nav-link mb-3 p-3 shadow" id="v-pills-profile-tab" data-toggle="pill"
                                href="#v-pills-profile" role="tab" aria-controls="v-pills-profile"
                                aria-selected="false">
                                <i class="fa fa-calendar-minus-o mr-2"></i>
                                <span class="font-weight-bold small text-uppercase">Historia Clinica</span></a>

                            <a class="nav-link mb-3 p-3 shadow" id="v-pills-messages-tab" data-toggle="pill"
                                href="#v-pills-messages" role="tab" aria-controls="v-pills-messages"
                                aria-selected="false">
                                <i class="fa fa-star mr-2"></i>
                                <span class="font-weight-bold small text-uppercase">Amigo Humano</span></a>

                            <a class="nav-link mb-3 p-3 shadow" id="v-pills-settings-tab" data-toggle="pill"
                                href="#v-pills-settings" role="tab" aria-controls="v-pills-settings"
                                aria-selected="false">
                                <i class="fa fa-check mr-2"></i>
                                <span class="font-weight-bold small text-uppercase">Hobbies</span></a>
                        </div>
                    </div>


                    <div class="col-md-9 pr-4">

                        <div class="tab-content" id="v-pills-tabContent">

                            <div class="tab-pane fade shadow rounded bg-white show active p-5" id="v-pills-history" role="tabpanel"
                                aria-labelledby="v-pills-home-tab">
                                <app-historias></app-historias>
                            </div>

                            <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-home"
                                role="tabpanel" aria-labelledby="v-pills-home-tab">
                                <app-informacion-personal></app-informacion-personal>
                            </div>

                            <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-profile" role="tabpanel"
                                aria-labelledby="v-pills-home-tab">
                                <app-historia-clinica></app-historia-clinica>
                            </div>

                            <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-messages" role="tabpanel"
                                aria-labelledby="v-pills-profile-tab">
                                <app-amigo-humano></app-amigo-humano>
                            </div>

                            <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-settings" role="tabpanel"
                                aria-labelledby="v-pills-profile-tab">
                                <app-hobbies></app-hobbies>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>