<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 mx-auto py-5  text-black text-center">
                <h3 class="font-weight-bold mb-2">Testimonios</h3>
                <p class="text-muted mb-4"> Calidad de servicio, experiencia y conocimiento
                </p>
                <div class="row">
                    <div class="col-xl-3 col-lg-6 mb-4">
                        <div class="hover hover-5 text-white bg-dark rounded">
                            <img src="https://cdn.pixabay.com/photo/2019/09/08/20/00/animal-4461783__480.jpg" alt="">
                            <div class="hover-overlay"></div>
                            <div class="hover-5-content">
                                <h3 class="hover-5-title text-uppercase font-weight-light mb-0">Siempre <strong
                                        class="font-weight-bold text-white">Estan
                                    </strong><span>Contigo</span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 mb-4">

                        <div class="hover hover-5 text-white bg-dark rounded"><img
                                src="https://cdn.pixabay.com/photo/2020/05/07/20/19/dog-5143035__480.jpg" alt="">
                            <div class="hover-overlay"></div>
                            <div class="hover-5-content">
                                <h3 class="hover-5-title text-uppercase font-weight-light mb-0">Brindan <strong
                                        class="font-weight-bold text-white">Orientación
                                    </strong><span>Adecuada</span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 mb-4">

                        <div class="hover hover-5 text-white bg-dark rounded"><img
                                src="https://cdn.pixabay.com/photo/2017/07/22/14/59/dog-2528862__480.jpg" alt="">
                            <div class="hover-overlay"></div>
                            <div class="hover-5-content">
                                <h3 class="hover-5-title text-uppercase font-weight-light mb-0">Ofrecen <strong
                                        class="font-weight-bold text-white"> Atención
                                    </strong><span>Integral</span></h3>
                            </div>
                        </div>
                    </div>
                    <div class=" col-xl-3 col-lg-6 mb-4">

                        <div class="hover hover-5 text-white bg-dark rounded"><img
                                src="https://cdn.pixabay.com/photo/2020/04/21/16/25/golden-5073759__480.jpg" alt="">
                            <div class=" hover-overlay"></div>
                            <div class="hover-5-content">
                                <h3 class="hover-5-title text-uppercase font-weight-light mb-0">Conocer <strong
                                        class="font-weight-bold text-white">Nuevos
                                    </strong><span>Amigos</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>