<h4 class="font-italic mb-4">Amigo Humano</h4>

<div class="d-flex flex-column ">
    <div class="d-flex flex-wrap" >
        <div class="d-flex flex-column align-items-center" style="width: 100%;" >
            <img *ngIf = 'fotoPerfilHumano != ""' class="imgperfil rounded-circle" [src] = "fotoPerfilHumano[fotoPerfilHumano.length - 1].sticker" >
            <h5 class="font-weight-bold m-2">José</h5>

            <div>
                <a data-toggle="collapse" href="#opcionImg"><i class="fas fa-chevron-down text-info"></i></a>
            </div>

            <div class=" btn-group-sm rounded collapse" role="group" id="opcionImg">
                <input class="d-none" type="file" (change) = "capturarImagenHumano($event)" #inputImg>
                <button type="button" class="btn btn-seconday btn-dark m-1" (click)="inputImg.click()">Escoger Imagen</button>
                <button type="button" class="btn btn-seconday btn-dark m-1" (click) = "subirImagenHumano()">Subir Imagen</button>
                <button type="button" class="btn btn-seconday btn-dark m-1" (click) = "borrarImagenHumano(fotoPerfilHumano[fotoPerfilHumano.length - 1])">Eliminar Imagen</button>
            </div>

        </div>
        <div class="m-2"  >
            <h5>Acerca de mi</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem eius, similique nemo dignissimos.</p>
        </div>
    </div>
    <div>
        <table class="table table-borderless">
            <thead class="bg-info text-white">
                <tr>
                    <th scope="col">Intereses</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Película Favorita</td>
                    <td>Pulp Fiction</td>
                </tr>
                <tr>
                    <td>Libro Favorito</td>
                    <td>1984</td>
                </tr>
                <tr>
                    <td>Comida Favorita</td>
                    <td>Pasta</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>