<footer class="container-fluid">
  <div class="row justify-content-between nav divsito">
    <div class="col-12 col-md-4 bg-white d-flex justify-content-center align-items-center">
      <a class="navbar-brand" href="index.html">
        <img class="imglogo" src="../../../assets/imgs/bollLogo/bollLogo.png" alt="logo">
      </a>

    </div>  

    <div class="col-12 col-md-8 navbar">
      <div class="container-fluid">
        <div class="row ml-auto">
          <div class="col-12 justify-content-center align-items-center ">
            <ul class="social-icons d-flex">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="youtube" href="#"><i class="fa fa-youtube"></i></a></li>
              <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container-fluid contacto">
        <div class="row">
          <div class="col-12 col-md-6">
            <ul class="footer-links">
              <li><a href="./assets/pages/Nosotros.html">Acerca de Boll</a></li>
              <li><a href="#">Familia Boll</a></li>
              <li><a href="./assets/pages/servicios.html">Nuestros Servicios</a></li>
              <li><a href="#">Trabaja con nosotros</a></li>

            </ul>
          </div>
          <div class="col-12 col-md-6 align-self-center ">

            <ul class="footer-links">
              <li>Contáctanos</li>
              <li>Teléfono: <small>(310)847-6324</small></li>
              <li>boll@gmail.com</li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
