<h4 class="font-italic mb-4">Historias</h4>

<div class="p-4 d-flex flex-column justify-content-center rounded border">
    <textarea class="form-control mb-3 bg-light" placeholder="Escribe un comentario"></textarea>
    <div class="align-self-end">
        <button class="btn btn-info mr-1">Escoge una foto</button>
        <button class="btn btn-success">Publicar</button>
    </div>
</div>

<div class="border rounded p-4 mt-3">

    <div class="d-flex justify-content-center mb-3 pb-1 border-bottom" style="width: 100%;">
        <div class="d-flex flex-column mr-3 justify-content-center align-items-center" style="width: 20%;">
            <i class="fas fa-paw fa-2x"></i>
            <h5>Fabian</h5>
        </div>
        <div class="d-flex flex-column" style="width: 80%;">
            <input type="text" class="form-control" disabled>
            <div class="d-flex justify-content-end align-items-center mt-3">
                <!-- <button class="btn btn-outline-info mr-2" id="megusta">Me gusta</button> -->
                <i class="far fa-thumbs-up fa-sm mr-2"></i>
                <h5 class="pt-2 meGustaContador">1</h5>
            </div>
        </div>
    </div>

</div>

