<div class="conte-form">

  <!-- Aquí inicia el formulario Contacto -->
  <form>
    <div class="general d-flex flex-column">

      <div class="registro col-sm-8">
        <h1>Marcas Top</h1>

      </div>

      <div class="form-row col-md-8">
        <div class="campos col-sm-12 marca">
          <img class="img-registro2" src="../../../../assets/imgs/imgMarcas/marcas1.JPG" alt="logo">
          <img class="img-registro2" src="../../../../assets/imgs/imgMarcas/marcas2.JPG" alt="logo">
        </div>
      </div>

    </div>
  </form>
  <!-- Aqui finaliza el formulario-->

</div>

