<div class="bg-light py-5">
  <div class="container py-5">
    <div class="row mb-4">
      <div class="col-5">
        <h4 class="display-4"><b> Nuestro Equipo</b></h4>

      </div>
    </div>

    <div class="row text-center">
      <!-- Equipo-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
          <img src="" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">FRANCY ALEJANDRA PINZÓN RAMOS</h5><span class="small text-uppercase text-muted">
            Product-Owner</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
            </li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
          <img src="" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">JULIÁN DAVID VALERO CASTILLO </h5><span class="small text-uppercase text-muted">Srum
            Master</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
            </li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="" alt="" width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">FERNEY EDUARDO RODRÍGUEZ </h5>
          <span class="small text-uppercase text-muted">Líder del E. de Desarrollo</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
            </li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="" alt="" width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">LEIDY DEL ROCIO CUELLAR OLIVEROS</h5><span class="small text-uppercase text-muted">Equipo de
            Desarrollo</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
            </li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- End-->

    </div>
  </div>
</div>

