<div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4">Nuestra Página</h1>
        <p class="lead text-muted mb-0">Somos un grupo de personas que busca el bienestar de nuestros
          mas fieles amigos</p>

      </div>
      <div class="col-lg-6 d-none d-lg-block"><img
          src="https://cdn.pixabay.com/photo/2016/12/19/10/16/hand-1917895_1280.png" alt=""
          class="img-fluid rounded-circle"></div>
    </div>
  </div>
</div>
