<section>
  <div class="row mt-5 py-5">

    <div class="col-md">
      <div class="card text-center sombra">
        <a href="#">
          <div class="card-body">
            <p class="card-text"><img class="img-card" src="../../../../assets/imgs/imgServicios/comida.jpg" alt="">
            </p>
          </div>
          <div class="card-footer titulo">
            Alimento
          </div>
        </a>
      </div>
    </div>

    <div class="col-md">
      <div class="card text-center sombra">
        <a href="#">
          <div class="card-body">
            <p class="card-text"><img class="img-card" src="../../../../assets/imgs/imgServicios/accesorios.jpg" alt=""></p>
          </div>
          <div class="card-footer titulo">
            Accesorios
          </div>
        </a>
      </div>
    </div>

    <div class="col-md">
      <div class="card text-center sombra">
        <a href="#">
          <div class="card-body">
            <p class="card-text"><img class="img-card" src="../../../../assets/imgs/imgServicios/medicina.jpg" alt=""></p>
          </div>
          <div class="card-footer titulo">
            Medicina
          </div>
        </a>
      </div>
    </div>

  </div>
</section>
